laguage: java
jdk:
  - openjdk8

branches:
  only:
    - master

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

script: "./gradlew clean build"

before_deploy:
    - zip -r springboot2-aws-web *
    - mkdir -p deploy
    - mv springboot2-aws-web.zip deploy/spirngboot2-aws-web.zip

deploy:
    - provider: s3
      access_key_id: $AWS_ACCESS_KEY # Travis repo settings 설정 값
      secret_access_key: $AWS_SECRET_KEY # Travis repo settings 설정 값
      bucket: free-springboot-build # S3 버킷 name
      region: ap-northeast-2
      skip_cleanup: true
      acl: private
      local_dir: deploy
      wait-until-deployed: true

    - provider: codedeploy
      access_key_id: $AWS_ACCESS_KEY # Travis repo settings 설정 값
      secret_access_key: $AWS_SECRET_KEY # Travis repo settings 설정 값
      bucket: free-springboot-build
      key: free-springboot-build.zip
      bundle_type: zip
      application: free-springboot-web
      deployment_group: free-springboot-web-group
      region: ap-northeast-2
      wait-until-deployed: true

notifications:
  email:
    recipients:
      - sgloryjewel@gmail.com
