spring:
  profiles:
    active: aws

---

spring:
  jpa:
    show_sql: true
    database-platform: org.hibernate.dialect.MariaDBDialect
  datasource:
      url: jdbc:h2:mem:test;MODE=MySQL;DATABASE_TO_LOWER=TRUE;DB_CLOSE_DELAY=-1
  h2:
    console:
      enabled: true
  profiles: local
    include: oauth
  session:
    store-type: jdbc

---

spring:
  jpa:
    show_sql: true
    database-platform: org.hibernate.dialect.MariaDBDialect
  h2:
    console:
      enabled: true
  profiles: aws
    include: oauth, real
  session:
    store-type: jdbc